@import "./stylesheet-1.css";
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

.main-container {
  padding: var(--padding-xxL);
}

.event-date {
  font-family: "Gilroy-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-s);
  line-height: 22px;
  color: #000000;
  margin: var(--margin-s);
}

.big-txt {
  margin-right: var(--margin-m);
  font-size: var(--font-size-large-heading);
  line-height: 50px;
  font-family: "Gilroy-Medium";
}

.funding-grants-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.img-thumb {
  margin: var(--margin-l);
  max-width: 150px;
}

.opacity {
  opacity: 0.6;
}

.funding-div,
.grants-div {
  /* margin-left: auto; */
  padding: var(--padding-xl);
}

.seperator {
  height: 350px;
  border-width: 2px;
  border-style: solid;
  border-left: 0;
  border-image: linear-gradient(#00000000, #474747, #00000000) 0 100%;
}

.apply-btn {
  opacity: 1;
  width: 260px;
  margin: 20px 0;
}

.apply-btn:hover {
  background-color: var(--color-cta-blue);
}

.mentors {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.program-view-mentor-profile {
  border-radius: 6px;
  max-width: 250px;
  margin: 20px 0;
}


@media only screen and (max-width: 720px) {

    .main-container {
        padding-bottom: 0;
    }
      

    .funding-grants-section {
        flex-direction: column;
    }

    .seperator {
        /* display: none; */
        height: 0px;
        width: 90%;
        border: 1px solid slategrey;
        /* border-bottom: 1px solid red; */
        /* border-image: none; */
      }
   
    .mentors {
        justify-content: center;
    }

    .program-view-mentor-profile {
    margin: var(--margin-xl);
        
    }

}

@media only screen and (min-width: 1024px) {
}
