@import "./stylesheet-1.css";
@import url("https://fonts.cdnfonts.com/css/gilroy-bold");

@media only screen and (min-width: 720px) and (max-width: 1023px) {
  /* .person1,
  .person2,
  .person3,
  .person4 {
    width: 25%;
    margin: 20px;
    padding: 10px;
  } */
}
@media only screen and (min-width: 1024px) {
  /* .person1,
  .person2,
  .person3,
  .person4 {
    width: 25%;
    margin: 20px;
  } */
}

.main-container {
  padding: var(--padding-xxL);
}

.event-date {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: var(--font-size-s);
  line-height: 22px;
  color: #000000;
  margin: 20px 0;
}

.big-txt {
  margin-right: var(--margin-m);
  font-size: var(--font-size-large-heading);
  line-height: 50px;
  font-family: "Gilroy-Medium";
}

.funding-grants-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.img-thumb {
  margin: var(--margin-l);
  max-width: 150px;
}

.opacity {
  opacity: 0.6;
}

.funding-div, .grants-div {
  /* margin-left: auto; */
  padding: var(--padding-xl);
}

.seperator {
  height: 350px;
  border-width: 2px;
  border-style: solid;
  border-left: 0;
  border-image: linear-gradient(#00000000, #474747, #00000000) 0 100%;
}

.coming-soon {
  opacity: 1;
  width: 260px;
  margin: 20px 0;
}

.mentors {
  display: flex;
  justify-content: space-between;
}

.program-view-mentor-profile {
  border-radius: 6px;
  max-width: 250px;
  margin: 20px 0;
}
